<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>YouWork Dashboard</h1>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="col-12 border-bottom">Growth</h3>
    <ul class="col-6 list-unstyled mt-3">
      <li>New visitor conversion rate: 23%</li>
      <li>Return visitor conversion rate: 87%</li>
      <li>Interactions per visit: 2.7</li>
      <li>Cost per conversion: $0.19</li>
      <li>Bounce rate: 46%</li>
    </ul>
    <ul class="col-6 list-unstyled mt-3">
      <li>Best performing channel: Mosa</li>
      <li>Best performing campaign: Transparency is Everything</li>
      <li>Price per sign up: $2.34</li>
      <li>LTV/CAC ratio: 3:1</li>
    </ul>
    <div class="col-6">
      <%= image_tag 'lead-sources.png', class: 'img-responsive' %>
    </div>
    <div class="col-6">
      <%= image_tag 'social-media-growth.png', class: 'img-responsive' %>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="col-12 border-bottom">Sales</h3>
    <ul class="col-6 list-unstyled mt-3">
      <li>Revenue growth last month: %150</li>
      <li>ACV: $10,300</li>
      <li>New Accounts: 97</li>
      <li>New Leads: 390</li>
      <li>Demos Scheduled: 213</li>
    </ul>
    <div class="col-6">
      <%= image_tag 'sales-v2.png', class: 'img-responsive' %>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="col-12 border-bottom">Tech</h3>
    <ul class="col-6 list-unstyled mt-3">
      <li>Stack: Ruby 2.6.3, Rails 6, Javascript ES6</li>
      <li>Uptime: 97%</li>
      <li>Number of Builds: 183</li>
      <li>Code Coverage: 47%</li>
      <li>Pull requests outstanding: 3</li>
      <li>Average deployment time: 28.5 minutes</li>
      <li>Continuous integration score: C</li>
      <li>Continuous delivery score: D</li>
    </ul>
    <div class="col-6 mt-3">
      <p class="text-center">Code Quality:</p>
      <p class="text-center display-1">F</p>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="col-12 border-bottom">Finances</h3>
    <div class="col-6">
      <%= image_tag 'p-and-l-chart.png', class: 'img-responsive' %>
    </div>
    <ul class="col-6 list-unstyled mt-3">
      <li>MRR: $120,000</li>
      <li>ARR: $1,440,000</li>
      <li></li>
      <li>Gross Margin: --</li>
      <li>Monthly Spend: $270,000</li>
      <li></li>
      <li>Cash: $1,500,000</li>
      <li>Runway: 7 months</li>
    </ul>
  </div>
  <div class="row mt-5">
    <h3 class="col-12 border-bottom">Customer Success - Support - Happiness</h3>
    <ul class="col-6 list-unstyled mt-3">
      <li>Customer churn: 4%</li>
      <li>MRR churn: 5%</li>
      <li>Net MRR churn: 6%</li>
      <li>Expansion MRR: 7%</li>
      <li>Net promoter score (NPS): 80</li>
      <li></li>
      <li>New support tickets: 137</li>
      <li>Tickets unresolved: 136</li>
      <li>Install time: 1hr 35mins</li>
      <li>Repeat issues: 134</li>
    </ul>
    <div class="col-6">
      <%= image_tag 'issues-reported.png', class: 'img-responsive' %>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="col-12 border-bottom">Communications</h3>
    <ul class="col-6 list-unstyled mt-3">
      <li>Number of Slack messages: 1572</li>
      <li>Most active Slack user: Sally Jaeger</li>
      <li>Most active Slack channel: random</li>
      <li></li>
      <li>New employees: 14</li>
      <li>New employee messages: 14</li>
      <li>Names and departments:
        <ol>
          <li>Joe Bloggs - HR</li>
          <li>Joan Bloggs - Engineering</li>
        </ol>
      </li>
    </ul>
    <div class="col-6">
      <%= image_tag 'hr-reviews-completed.png', class: 'img-responsive' %>
    </div>
  </div>
  <div class="row mt-5"></div>
  <div class="row mt-5">
    <h6>**This is a hypothetical dashboard of a company selling a SaaS platform. There are many more metrics that can be built into this. In addition, users have the ability to track historical information.**</h6>
    <div class="row mt-5"></div>
  </div>
</div>
