<div class="container">
  <div class="row">
    <h1 class="col-12">My Portfolio</h1>
  </div>
  <div class="row mt-5">
    <h3 class="col-12 border-bottom">Fund V</h3>
    <div class="col">
      <%= image_tag 'deployed-capital.png', height: 400 %>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="col-12 border-bottom">IRR</h3>
    <div class="col">
      <%= image_tag 'returns-on-investments.png', height: 400 %>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="col-12 border-bottom">Portfolio Companies</h3>
    <div class="col">
      <table class="table table-borderless">
        <tr>
          <td><label>YouWork</label></td>
          <td><%= link_to 'View', dashboard_index_path %></td>
          <td><%= link_to 'Generate Report', '#' %></td>
        </tr>
        <tr>
          <td><label>Company B</label></td>
          <td><%= link_to 'View', '#' %></td>
          <td><%= link_to 'Generate Report', '#' %></td>
        </tr>
        <tr>
          <td><label>Company C</label></td>
          <td><%= link_to 'View', '#' %></td>
          <td><%= link_to 'Generate Report', '#' %></td>
        </tr>
        <tr>
          <td><label>Company D</label></td>
          <td><%= link_to 'View', '#' %></td>
          <td><%= link_to 'Generate Report', '#' %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-5"></div>
</div>
