<div class="container">
  <div class="row">
    <h1 class="col">My Portfolio</h1>
  </div>
  <hr/>
  <div class="row">
    <div class="col">
      <h3>Fund V</h3>
      <%= image_tag 'deployed-capital.png', height: 400 %>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col">
      <h3>IRR</h3>
      <%= image_tag 'returns-on-investments.png', height: 400 %>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col">
      <h3>Portfolio Co's</h3>
      <table class="table table-borderless">
        <tr>
          <td><label>You Work</label></td>
          <td><%= link_to 'View', investment_path(12679) %></td>
          <td><%= link_to 'Generate Report', '#' %></td>
        </tr>
        <tr>
          <td><label>Company B</label></td>
          <td><%= link_to 'View', investment_path(12679) %></td>
          <td><%= link_to 'Generate Report', '#' %></td>
        </tr>
        <tr>
          <td><label>Company C</label></td>
          <td><%= link_to 'View', investment_path(12679) %></td>
          <td><%= link_to 'Generate Report', '#' %></td>
        </tr>
        <tr>
          <td><label>Company D</label></td>
          <td><%= link_to 'View', investment_path(12679) %></td>
          <td><%= link_to 'Generate Report', '#' %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
