<div class="container">
  <div class="row">
    <div class="col">
      <h1>ApexInvestors</h1>
      <h5>Monthly Tech Report</h5>
      <h3>Melinda Evans</h3>
      <h3>Fund V</h3>
      <%= image_tag 'allocation.png', height: 200 %>
      <h3>Portfolio Recurring Return</h3>
      <%= image_tag 'portfolio-return.png', height: 400 %>
      <h3>Investments</h3>
      <ul>
        <li><%= link_to 'YouWork', investment_path(12679) %></li>
        <li><%= link_to 'Suber', '#' %></li>
        <li><%= link_to 'Ryft', '#' %></li>
        <li><%= link_to 'Tropdot', '#' %></li>
      </ul>
    </div>
  </div>
</div>
