<!DOCTYPE html>
<html>
  <head>
    <title>PrototypeAlpha</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <header>
      <div>
        <h3>Mosa</h3>
        <nav>
          <%= link_to 'Home', controller: :root, action: :index %>
          <%= link_to 'Dashboard', controller: :dashboard, action: :index %>
          <%= link_to 'Portfolio', controller: :portfolio, action: :index %>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div>
        Some Footer Stuff
      </div>
    </footer>
  </div>
  </body>
</html>
